.top-wrapper {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  -ms-flex-line-pack: stretch;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
}
.left-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;
}
.right-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 2;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 2;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 2;
}
.footer-wrapper {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-line-pack: stretch;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-align-content: stretch;
  -webkit-align-items: flex-start;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
}
.footer {
  align-self: flex-end;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: flex-end;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;
}
