/*TOP PART*/
.top-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  /*border: 1px solid black;*/
}

/*LEFT COPY PART*/
.left-wrapper{
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
  width: 50vh;
  height: 100vh;
  /*border: 1px solid green;*/
  /*AS CONTAINER*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}

.nav{
  /*border: 1px solid blue;*/
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  padding: 3.5rem;
}

.copy{
  /*border: 1px solid purple;*/
  order: 1;
  flex: 0 0 auto;
  align-self: auto;
  padding: 3.5rem;
  padding-bottom: 7rem;
  margin-bottom:auto;
  margin-top: auto;
}
/*RIGHT TOP PART*/
.right-wrapper {
  order: 1;
  flex: 1 0 auto;
  align-self: auto;
  width: 50vh;
  height: 100vh;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}

.cover-preview {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
}

.cover-image {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
}

.footer-wrapper {
    align-content: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.footer {
    align-self: flex-end;
    flex: 1 1 auto;
    order: 1;
    flex: 0 1 auto;
    align-self: center;
}
