.top-wrapper {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  -ms-flex-line-pack: stretch;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
}
.left-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;
  width: 50vh;
  display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
     align-content: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
}

.top-left-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;
  display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
     align-content: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
}

.navbar{
  -webkit-order: 0;
 -ms-flex-order: 0;
 order: 0;
 -webkit-flex: 0 1 auto;
 -ms-flex: 0 1 auto;
 flex: 0 1 auto;
 -webkit-align-self: stretch;
 -ms-flex-item-align: stretch;
 align-self: stretch;
}

.bottom-left-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;
  display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: middle;
     -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
     align-content: flex-start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
}
.copy{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.right-wrapper {
  align-self: stretch;
  flex: 1 1 auto;
  order: 2;
  width: 50vh;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 2;
  -webkit-align-self: stretch;
  -webkit-flex: 1 1 auto;
  -webkit-order: 2;

  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.cover-preview {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
    }

.cover-image {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
    }

.footer-wrapper {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-line-pack: stretch;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-align-content: stretch;
  -webkit-align-items: flex-start;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;

  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer {
  align-self: flex-end;
  flex: 1 1 auto;
  order: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  -ms-flex-order: 1;
  -webkit-align-self: flex-end;
  -webkit-flex: 1 1 auto;
  -webkit-order: 1;

  -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
