body {
  font-family: 'PinkFlamingo-Book', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
.top-part{
  display: block;
  height: 100vh;
}
.top-wrapper {
  color: #fff;
  font-family: 'PinkFlamingo-Book', sans-serif;
  font-size: 40px;
  height: 100%;
}
/*NAVIGATION*/
.navigation-text {
  color: #666;
}
.hover-effect:hover {
  color: white;
  background-color: #DEE9EF;
}
/*LEFT SIDE*/
.about-text {
  color: #666;
  padding-top: 10rem;
}
/*RIGHT SIDE*/
.right-wrapper {
  background-color: #DEE9EF;
}
.image {
 display:block;
 height: 561px;
 margin: 0 auto;
 position:relative;
 width: 437px;
}
.show-me {
  display: block;
}
.hide-me {
  display: none;
}
/*FOOTER*/
.footer-wrapper {
  background-color: #DEE9EF;
  height: 100vh;
}
@media (max-width: 450px) {
  .footer-wrapper {
    width: 100vh;
  }
}
.footer {
  text-align: center;
}
.footer-text {
  font-size: 30px;
  display: block;
}
@media (max-width: 450px) {
  .footer-text {
    display: none;
  }
}
.footer-text-mobile {
  display: none;
  font-size: 30px;
}
@media (max-width: 450px) {
  .footer-text-mobile {
    display: block;
  }
}
