h1 {
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
    cursor: default;
    font-family: 'PinkFlamingo-Bold', sans-serif;
    overflow: hidden;
}

h2 {
    font-size: 3rem;
    color: rgba(0, 0, 0, .3);
    cursor: default;
    font-family: 'PinkFlamingo-Bold', sans-serif;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .4);
    overflow: hidden;
    padding-top: 20px;
    letter-spacing: 0;
    cursor: default;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.CTA {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.top-part {
    display: block;
    height: 100vh;
}

.left-wrapper {
    height: 100vh;
}

.top-wrapper {
    height: 100%;
}

.bottom-left-wrapper {
    max-width: 80%;
    margin: 0 auto;
}


/*NAVIGATION*/

.top-left-wrapper {
    width: 80%;
    text-align: left;
    margin: 50px auto;
}

.navigation-text {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin-right: 30px;
}

.navigation-text:hover {
    color: white;
    background-color: #DEE9EF;
}


/*BOTTOM LEFT SIDE*/


/*RIGHT SIDE*/

.right-wrapper {
    background-color: #DEE9EF;
}

.image {
    display: block;
    margin: auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

#image {
    max-width: 62%;
    overflow: hidden;
}

.show-me {
    display: block;
}

.hide-me {
    display: none;
}


/*FOOTER*/

.footer-wrapper {
    background-color: #DEE9EF;
    height: 100vh;
}

.footer {
    text-align: center;
}

.footer-text {
    color: #fff;
    font-size: 30px;
    display: block;
}

@media (max-width: 450px) {
    .footer-text {
        display: none;
    }
}

.footer-text-mobile {
    display: none;
    font-size: 30px;
}

@media (max-width: 450px) {
    .footer-text-mobile {
        display: block;
    }
}
