
@font-face {
font-family: 'CircularStd-Medium';
src: url('CircularStd-Medium.eot'); /* IE9 Compat Modes */
src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('CircularStd-Medium.woff2') format('woff2'), /* Super Modern Browsers */
     url('CircularStd-Medium.woff') format('woff'), /* Pretty Modern Browsers */
     url('CircularStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('CircularStd-Medium.svg#svgCircularStd-Medium') format('svg'); /* Legacy iOS */
}
